/* Global Style */
main{
    display: flex;
    flex-direction: column;
    text-align: center;            
    
}

/* Mobile */
@media only screen and (max-width: 640px){
    main{
        padding: 30px 0px 70px;
        row-gap: 50px;
    }
    #success_icon{
        font-size: 30px;
    }
    .product_image_small{
        width: 57px ;
    }
}

/* Tablet */
@media only screen and (min-width: 641px) {
    main{
        padding: 30px 0px 100px;
        row-gap: 70px;
    }
    #success_icon{
        font-size: 40px;
    }
    .product_image_small{
        width: 100px ;
    }
}

/* Desktop */
@media only screen and (min-width: 1008px){
    main{
        padding: 30px 0px 150px;
        row-gap: 100px;
    }
    #success_icon{
        font-size: 80px;
    }
    .product_image_small{
        width: 150px ;
    }
}