/* Global Style for mobile */
h1 {
    text-align: center;
}
main {
    padding: 10px;
}
form {
    display: flex;
    flex-direction: column;
    text-align: left;
}
#expireddate, #cvc {
    width: 50%;
}

input {
    padding: 8px 0px;
    margin-bottom: 15px;
    font-size: small;
    text-indent: 10px;
}
.price_option{
    margin: 20px 0px 20px;
}
/* .error {
    display: none;
} */

/* Tablet */
@media only screen and (min-width: 641px) {
    main{
        padding: 30px 100px 100px;
    }
    input {
        padding: 10px 0px;
        font-size: medium;
    }
    .price_option{
        margin: 30px 0px 30px;
    }
   
}

/* Desktop */
@media only screen and (min-width: 1008px){
   
   .checkout_form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        padding: 30px;
        column-gap: 100px;
   }
   input {
        padding: 15px 0px;
        margin-bottom: 30px;
        font-size: medium;
    }
    .price_option{
        margin: 40px 0px 40px;
    }
    
}