/* Global Style for mobile */
address{
    font-style: normal;
}
form{
    display: grid;
}
img{
    width: 100%;
}
p{
    line-height: 80%;
}
input, textarea {
    padding: 10px 0px;
    margin-bottom: 20px;
}

.main_contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "image address"
    "inquery inquery";
    padding: 20px 15px;
    align-items: center;
}
.contact_image{
    grid-area: image;
    margin: auto;
}
address{
    grid-area: address;
    margin: auto;
}
.contact_inquery{
    grid-area: inquery;
    margin: 0px 10px;
    font-size: 18px;
}
input, textarea {
    font-size: small;
}
   

/* Desktop */
@media only screen and (min-width: 1008px){
    .main_contact{
        grid-template-areas: 
        "image address"
        "image inquery";
        padding: 20px 150px;
        column-gap: 50px;
    }
    .contact_image{
        align-self: center;
    }
    
    .contact_inquery{
        font-size: 20px;
    }
    
    input, textarea {
        font-size: large;
    }
    
}