/* Global Style for mobile */
main li{
    list-style: none;
}
.genres_active{
    background-color: var(--grey);
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 10px;
}
.genres_nav li{
    padding: 0px 10px 15px 0px;
}
.genres_nav li:hover {
    text-decoration: underline;
}
.genres_nav{
    display: grid;
    padding: 0px;
    margin: 20px;
   
}

.genres_nav{
    grid-template-columns: repeat(2, auto);
    font-size: 15px;
   
}
   

/* Large mobile */
@media only screen and (min-width: 401px) {
    .genres_nav{
        grid-template-columns: repeat(3, auto);
    }
  
}
/* Tablet */
@media only screen and (min-width: 641px) {
    .genres_nav{
        grid-template-columns: repeat(4, auto);
        font-size: 18px;
    }
  
}

/* Desktop */
@media only screen and (min-width: 1008px){
    .genres_nav{
        grid-template-columns: repeat(6, auto);
        font-size: 24px;
    }

}