/* Global Style for mobile */

.blockbuster{
    color: var(--grey);
}
.cover_content{
    position: absolute;
}
  
.cover_content{
    padding-left: 5%;
    top: 10%;
}
.blockbuster{  
    font-size: 15px;
}
.showmore_icon{
    font-size: 15px;
}
.showmore_icon:hover {
    text-decoration: underline;
}

.watchnow img {
    max-width: 100%;
}



/* Tablet */
@media only screen and (min-width: 641px) {
   
    
    .blockbuster{  
        font-size: 25px;
    }
    .showmore_icon{
        font-size: 15px;
    }
    
}

/* Desktop */
@media only screen and (min-width: 1008px){
   
    .cover_content{
        top: 20%;
    }
    .blockbuster{  
        font-size: 32px;
    }
    .showmore_icon{
        font-size: 20px;
    }
  
}

