/* Global style */
.selling_point{
    color:#3DC9DA;
}
.product_detail_title{
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 10px;
    row-gap: 10px;
    column-gap: 15px;
}
.title{
    grid-column: 1/ span2;
    margin: 0px;
}
.product_detail_title p{
    margin: 0px;
}
.product_detail_info{
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px 10px 50px 10px;
    column-gap: 15px;
}
.product_image_mobile, .product_image_desktop {
    width: 100%;
    margin: auto;
    border-radius: 10px;
}
.product_video img {
    width: 100%;
    margin: auto;
    border-radius: 5px;
}


/* Mobile */
@media only screen and (max-width: 640px){
    .product_image_desktop{
        display: none;
    }

    #review{
        font-size: 13px;
        align-self: center;
    }  
}

/* Tablet */
@media only screen and (min-width: 641px) and (max-width: 1007px){
    .product_image_desktop{
        display: none;
    }
    
    #review{
        font-size: 20px;
        align-self: center;
    }
}

/* Desktop */
@media only screen and (min-width: 1008px){
    .product_image_mobile {
        display: none;
    }
    p {
        line-height: 200%;
    }

    #review{
        font-size: 20px;
        align-self: center;
    }
   
    .product_detail{
        display: flex;
        margin: 100px;
        column-gap: 100px;
    }
    .product_detail > *{
        flex: 1;
    }
}