/* Global style */
.selling_point{
    color: var(--blue);
}
.product_detail_title{
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 10px;
    row-gap: 10px;
    column-gap: 15px;
}
.title{
    grid-column: 1/ span2;
    margin: 0px;
}
.product_detail_title p{
    margin: 0px;
}
.product_detail_info{
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px 10px 50px 10px;
    column-gap: 15px;
}
.product_image_mobile {
    width: 100%;
    margin: auto;
    border-radius: 10px;
}
.product_video img {
    width: 100%;
    margin: auto;
    border-radius: 5px;
}
.price_option{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
}

.purchase_button{
    display: flex;
    column-gap: 15px;
    justify-content: center;
}

/* Mobile */
@media only screen and (max-width: 640px){
    .product_image_desktop{
        display: none;
    }

    #review{
        font-size: 13px;
        align-self: center;
    }  
    .price_option{
        column-gap: 15px;
        margin-left: 10px;
    }
    .price_option p{
        margin-top: 5px;
        margin-bottom: 0px;
    }
}

/* Tablet */
@media only screen and (min-width: 641px) and (max-width: 1007px){
    .product_image_desktop{
        display: none;
    }
    #review{
        font-size: 20px;
        align-self: center;
    }
    .price_option{
        column-gap: 15px;
        margin-left: 10px;
    }
    .price_option p{
        margin-top: 5px;
        margin-bottom: 30px;
    }
}

/* Desktop */
@media only screen and (min-width: 1008px){
    .product_image_mobile {
        display: none;
    }
    p {
        line-height: 200%;
    }

    #review{
        font-size: 20px;
        align-self: center;
    }
   
    .product_detail{
        display: grid;
        grid-template-columns: auto auto;
        margin: 50px;
        column-gap: 50px;
    }
    
    .price_option{
        column-gap: 25px;
        margin-top: 100px;
        margin-left: 10px;
    }
    .price_option p{
        margin-top: 5px;
        font-size: 24px;
        margin-bottom: 80px;
    }
    .product_detail img{
        width: 100%;
    }
}