/* Global style for mobile */
.selling_point{
    color: var(--blue);
}
.product_detail_title{
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 10px;
    column-gap: 15px;
}
.title{
    grid-column: 1/ span2;
    margin: 0px;
}

.product_detail_info{
    display: grid;
    grid-template-columns: 1fr;
    
    column-gap: 15px;
}
.product_image_mobile {
    width: 100%;
    margin: auto;
    border-radius: 10px;
}

.price_option{
    display: flex;
    align-items: center;
    column-gap: 25px;
    font-size: 25px;
    margin: 15px 0px ;
}

.product_image_desktop{
    display: none;
}



/* Desktop */
@media only screen and (min-width: 1008px){
    .product_image_mobile {
        display: none;
    }
    .product_image_desktop{
        display: block;
        border-radius: 10px;
    }
    p {
        line-height: 200%;
    }
    .product_detail{
        display: grid;
        grid-template-columns: auto auto;
        margin: 50px;
        column-gap: 50px;
    }
    
    .price_option {
        font-size: 40px;
        column-gap: 80px;
        margin: 25px 0px;
    }
    
    .product_detail img{
        width: 100%;
    }
}