/* Global Style for Mobile*/
:root {
    --blue: #3DC9DA;
    --light_grey:  #EDEDED;
    --grey: #BFBFB7;
    --dark_grey: #6F6F6F;
    --dark_theme: #373735;
    --nunito: 'Nunito', Arial, Verdana, Tahoma, Georgia, sans-serif;
    --roboto: 'Roboto', Arial, Verdana, Tahoma, Georgia, sans-serif;
}
main, 
footer p {
    font-family: var(--nunito);
    color: var(--light_grey);
}
h1, h2, h3, h4, header, footer a{
    font-family: var(--roboto);
}

body a, header a:hover, .header_active {
    color: var(--light_grey);
}
footer a:hover, .footer_active {
    text-decoration: underline;
}

header a, i {
    color: var(--blue);
}

a{
    text-decoration: none;
}
body{
    background-color: var(--dark_theme);  
    max-width: 1400px;
    margin: auto;
    padding: 15px;
}
main {
    padding: 15px 0px;
}

/* main background light grey*/
.main_lightgrey{
    background-color:var(--light_grey);
    color: black;
}
.footer_nav {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-top: 20px;
}
footer{
    margin: auto;
}

.cta {
    font-family: var(--nunito);
    color: black;
    border-radius: 20px;
    font-size: 15px;
    padding: 5px 15px;
    margin: 20px 0px;
}
/* .cta:hover {
    cursor: pointer;
    background-color: var(--light_grey);
}  */
.cta_buttons{
    display: flex;
    column-gap: 15px;
    justify-content: center;
}
.cta_blue{
    background-color:  var(--blue);    
}
.cta_blue:hover {
    background-color: aqua;
    cursor: pointer;
}
.cta_grey{
    background-color: var(--grey);
}
.cta_grey:hover {
    background-color: var(--light_grey);
    cursor: pointer;
}

.cta_price{
    background-color: black;
    color: var(--light_grey);
    border-color: var(--blue);
    padding: 10px 20px;
}
.price_option button {
    padding: 10px 20px;
}
.price_option button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.products img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.products img:hover {
    opacity: 0.8;
    transform: scale(1.05);
}
.products{
    display: grid;
  
}
.cover{
    background-position-x: right;
    background-position-y: top;    
    position: relative;
    opacity: 0.4;
    width: 100%;
    margin-bottom: 30px;
    min-height: 193px;
}
input, select, textarea {
    border-radius: 5px;
}


h1 {
    font-size: 17px;
}
h2, h3, p {
    font-size: 15px;
}
p {
    line-height: 160%;
}

footer p{
    font-size: 6px;
    word-spacing: 0.2em;
}
footer {
    width: 200px;
}
.logo{
    height: 31.04px;
    width: 58px;
}
footer nav li {
    display: inline;
    padding: 5px;
}
.footer_navbar {
    display: flex;
    flex-direction: column;
    
}
.cta_price, .price_option button {
    font-size: 13px;
}
.products{
    grid-template-columns: auto auto;
    gap: 20px;
    margin: 30px 0px;
}

#review{
    font-size: 13px;
    align-self: center;
}  
.hidden {
    display: none;
}
.error {
    color: red;
    font-size: 13px;
    display: none;
}
/* header for small mobile screen */
.header_mobile {
    display: block;
    position: sticky;
    top: 0;
    background-color: var(--dark_theme);
    z-index: 1;
}
.header {
    display: none;
}
.logo_and_cart {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header_cart {
    justify-self: end;
    font-size: 20px;  
}
.header_cart i:hover {
    color: var(--light_grey);
}
header nav li {
    display: inline;
    padding: 10px;
}

.loader {
    text-align: center;
    margin: 50px;
    color: var(--blue);
    }
.error_fetching {
    display: block;
    color: red;
    text-align: center;
}

/* Large mobile */
@media only screen and (min-width: 401px) {
    .header_mobile {
        display: none;
    }
    .header_navbar{
        margin-left: 20px;
    }
   
    
    footer ul, header ul{
        padding: 0px;
    }
    .header {
        font-weight: 600;
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        position: sticky;
        top: 0;
        background-color: var(--dark_theme);
        z-index: 1;
    }
   
    .footer_navbar {
       margin-left: 50px;
    }
  
}

/* Tablet */
@media only screen and (min-width: 641px) {
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 22px;
    }
    
    h3, h4{
        font-size: 20px;
        font-weight: 600;
    }
    p, .genres_list, .loader {
        font-size: 20px;
    }
    .cta_blue, .cta_grey{
        font-size: 20px;
        padding: 8px 25px;
    }
    footer p{
        font-size: 10px;
    }
    footer{
        width: 320px;
    }
    .logo{
        width: 84px;
        height: 45px;
    }
   
    header nav li, footer nav li {
        padding: 15px ;
        font-size: 20px;
    }
    
    .header_cart{
        font-size: 50px;
    }
    .header_navbar{
        margin-left: 30px;
    }
    .footer_navbar {
        margin-left: 20px;
        flex-direction: row;
    }
    .cta_price, .price_option button {
        font-size: 20px;
    }
    .products{
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin: 50px 0px;
    }
   
    .cover {
        min-height: 350px;
        margin-bottom: 60px;
    }
   
    #review{
        font-size: 20px;
        align-self: center;
    }  
    .loader {
        margin: 80px;
        }
}

/* Desktop */
@media only screen and (min-width: 1008px){
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 24px;
        font-weight: 600;
    }
    h4 {
        font-size: 20px;
        font-weight: 600;
    }
    p, .genres_list, .loader {
        font-size: 25px;
    }
    footer p{
        font-size: 20px;
    }
    .cta_blue, .cta_grey{
        font-size: 30px;
        padding: 10px 35px;
    }
    
    footer{
        width: 650px;
    }
    .logo{
        height: 110px;
        width: 206px;
    }
    

    header nav li, footer nav li {
        font-size: 30px;
        padding: 30px;
    }
    .header_cart{
        font-size: 70px;
    }
    .header_navbar{
        margin-left: 60px;
    }
    .footer_navbar {
        margin-left: 50px;
    }
    .cta_price, .price_option button {
        font-size: 30px;
    }
    .products{
        grid-template-columns: repeat(6, 1fr);
        gap: 50px;
        margin: 50px 0px;
    }
   
    .cover {
        min-height: 650px;
        margin-bottom: 80px;
    }
   
    #review{
        font-size: 30px;
        align-self: center;
    }  

}






















