/* Global Style for mobile */
main{
    text-align: center;
}
.cart_info {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 10px;
}
.cart_info > * {
    margin: 0px;
}
.price_tag {
    display: flex;
    flex-direction: column;
    text-align: end;
}
.yourcart{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "image info info ."
    "image info info price"
    ". discounttag . discount "
    ". total . totalprice";
    margin: 0px 10px;
}
.cart_product_image{
    grid-area: image;
}
.cart_info{
    grid-area: info;
}
.discount_tag{
    grid-area: discounttag;
}
.price_show{
    grid-area: price;
} 
.discount {
    grid-area: discount;
}
.total {
    grid-area: total;
}
.total_price {
    grid-area: totalprice;
}
/* reference for font weight at https://www.w3schools.com/CSSREF/pr_font_weight.php */
.price_bold{
    font-weight: 900;
    color: red;
}
.cart_product_image img{
    width: 50%;
    border-radius: 10px;
}

main{
    padding: 20px 0px 50px;
    row-gap: 30px;
}
.cart_info i {
    font-size: 30px;
}
.cart_info i:hover {
    cursor: pointer;
    color:var(--dark_grey);
}

/* Tablet */
@media only screen and (min-width: 641px) {
    main{
        padding: 20px 0px 70px;
        row-gap: 50px;
    }
    .cart_info i  {
        font-size: 40px;
    }
    .cart_info, .price_tag {
        row-gap: 20px;
    }
}

/* Desktop */
@media only screen and (min-width: 1008px){
    main{
        padding: 20px 100px 100px;
        row-gap: 80px;
    }
    .cart_info i  {
        font-size: 50px;
    }
    .cart_info, .price_tag {
        row-gap: 30px;
    }
}